html, body {
  height: 100%;
}

#title-nav {
  align-content: center;
}

.navbar {
  background-image: linear-gradient(to right, #304876 , #ea8bb7);
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica;
  display: flex;
  flex-direction: column;
  color: white;
  background-image: url(./img/moss-bg-darker.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

/* Container Around About Me */
#aboutme {
    background-color: #676a9e;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px; 
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    border-radius: 5px;
    border: solid 1px #ea8bb7;
}

/* Container Around Portfolio Images */
#portfolio-images {
  background-color: #676a9e;
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 30px;
}

/* Images Inside Portfolio Container */
.col-sm-6 {
  padding: 15px;
}

/* Contact Form on Contact */
#contactform {
  padding-top: 3px;
  background-color: #829cb4;
  border-radius: 5px;
}

 /* Bio Image */
#profile-img {
    margin-right: 12px;
    margin-bottom: 12px;
    border-radius: 50%;
}

 /* Kitty Image */
 #kitties {
 border-radius: 50%;
 margin-left: 12px;
 margin-bottom: 12px;
 }

/* Social Media Links on Contact */
 #social-links {
  padding-top: 3px;
} 


/* LinkedIn and Github Icons on Contact */
.icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* Sticky Footer */
  footer {
    flex-shrink: 0;
    color: #E7EED0;
    text-align: center;
    border-top: solid 3px #948E99;
    background-image: linear-gradient(to right, #304876 , #ea8bb7);
}

/* Image Hover Animation */
img:hover {
  box-shadow: 0 0 2px 2px #ea8bb7;
}

/* About Me Text on Home */
#aboutme {
  padding: 20px;
}

/* Box Around My Name */
.box {
  background-color: black;
  opacity: .6;
  text-align: center;
  color: white;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: -5px;
}

/* Sets The Card Text Color */
.card {
  color: black;
}

h3 {
  margin-top: 10px;
}

/* PDF Logo on Contact */
#adobe {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* Resume Card on Contact */
#resume {
  background-color: white;
  margin-bottom: 10px;
}

/* Social Media Card on Contact */
#social {
  background-color: white;
  margin-bottom: 10px;
}

/* Sets The Sticky Footer - Do Not Touch */
.content {
  flex: 1 0 auto;
}

/* Button Hover Animation */
.btn:hover {
  box-shadow: 0 0 2px 2px #ea8bb7;
}

/* All List Items */
li {
  background-color: #ea8bb7;
}

/* Skills */
.list-group-item {
  background-color: #ea8bb7;
  color: white;
}

/* Second Column of Skills */
.li2 {
  margin-left: 4px;
  margin-right: 4px;
}

.portfolio-title {
  background-color: black;
  opacity: 0.6;
}