html, body {
  height: 100%;
}

.navbar {
  background-color:#2E1437;
  opacity: 0.6; 
}

li {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #51425F;
}

/* Container Around About Me */
#aboutme {
    background-color: #948E99;
    float: left;
    margin-left: 15px;
    margin-right: 15px; 
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}


/* Container Around Contact Form */
.container-sm {
  padding-bottom: 30px;
  background-color: #948E99;
  border: 1px solid #8d6f8d;
  border-radius: 5px;
}

/* Container Around Portfolio Images */
#portfolio-images {
  background-color: #C9BBC5;
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 30px;
}

/* Images Inside Portfolio Container */
.col-sm-6 {
  padding: 15px;
}

/* Sets The Sticky Footer - Do Not Touch */
.content {
  flex: 1 0 auto;
}

#contactform {
  padding-top: 3px;
  background-color: #D7DADE;
}

 /* Bio Image */
#profile-img {
    margin-right: 12px;
    margin-bottom: 12px;
}

/* Social Media Links */
 #social-links {
  padding-top: 3px;
  float: right;
  background-color: #D7DADE;
} 

/* Project Titles On Portfolio Page */
.title {
  justify-items: center;
}

.icon {
  justify-content: center;
}

/* Sticky Footer */
  footer {
    flex-shrink: 0;
    color: #E7EED0;
    text-align: center;
    border-top: solid 3px #948E99;
    background-color: #2E1437;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#aboutme {
  padding: 20px;
}